<footer class="footer">
      <div class="container">
<ul class="list-inline">
<li><button id="footer_about" type="button" class="btn btn-info"  data-toggle="modal" data-target="#aboutModal">How It Works?</button></li>
<li><button id="footer_feedback" type="button" class="btn btn-info"  data-toggle="modal" data-target="#contactUsModal">Contact Us</button></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-facebook"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-twitter"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
</div></li>

</ul><!--list-->
        <div id="footer_details">
        My Short Flicks is the top website for online short films in India. The best short films on action , adventure , animation , comedy , crime , documentary , fantasy , horror , inspiration , mystery , parody , philosophy , political , romance , science-fiction , thriller . See the top reviewed films ; reviewed by acting , dialogues , story , direction , music and editing . Similar films can be grouped into productions which can then be followed by short movie admirers . Film-makers can see their works being reviewed and commented upon by thousands of short film addicts as they share their works in social media and get followers for their productions. Various competition test the skills of the best movie makers and win cash prizes and earn reputation . Get recognized and work with celebrities , Aim high and reach your goals , all here in Myshortflicks.com
        </div><!--footer details-->
      </div>
</footer>
